
{%  extends "base.html" %}
{% load static %}
{% block content %}
<style>
  @media (max-width: 600px){
    .mob-search-bar{
  display: block;
}
  }
</style>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
<div class="content ">
<div class="left infinite-container">
    {% if profile %}
    {% for p in profile %}
    <div class="infinite-item">
    <a href="{% url 'profile' p.user.username %}" >
    <div class="profile-one ">
        {% if p.profile_pic %}
        <div class="profile-one-image"><img src="{{p.profile_pic.url}}" alt=""></div>
        {% else %}

        {% endif %}
        <div>
        <div class="profile-one-name">{{p.name}}</div>
        <div class="profile-one-bio">{{p.desc}}</div>
        </div>
    </div>
    </a>
    </div>
   
    {% endfor %}

    {% else %}

        <h4>No Results Found </h4>
    {% endif %}
    
</div>
{% if profile.has_next %}
    <a class="infinite-more-link" href="?page={{ profile.next_page_number }}">More</a>
  {% endif %}
  <div class="loader" style="display: none;"></div>

</div>
<script>
     var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
        $('.loader').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loader').hide();
      }
    });
    
  </script>
<script>
  document.getElementById("prof-logo").src = "{{curr_user_profile.profile_pic.url}}";

</script>
{% endblock %}