
#regForm {
  background-color: #ffffff;
  margin: 70px auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  border:1px solid #000;
}

h1 {
  text-align: center;  
  padding:10px;
  color:#fff;
  font-weight: 500;
}

input[type="text"],input[type="password"],input[type="number"],input[type="email"] {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
  margin:10px auto;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
h1{
  background-color: #2977c9;
}
/* Hide all steps by default: */
.tab {
  display: none;
  padding: 10px;
}

button {
  background-color: #2977c9;
  color: #ffffff;
  border: none;
  margin-right:10px;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
