{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<style>
    .form-control{
        width:100%;
        height:30px;
        margin:5px;
    }
    input[type="submit"]{
        background-color: #2977c9;
        padding:10px;
        margin:5px;
        color:#fff;
    }
</style>
<div class="content">
    <div class="col-lg-6 col-lg-offset-3">
        {% if validlink %}
        <h1>Reset Password</h1>

        <form action="" method="post">{% csrf_token %}
            {{ form.new_password1.errors }}
            <div class="form-group">
                <label for="id_new_password1">New Password</label><br>
                <input class="form-control" type="password" id="id_new_password1" name="new_password1" value="">
            </p>
            {{ form.new_password2.errors }}
            <div class="form-group">
                <label for="id_new_password2">Confirm Password</label><br>
                <input class="form-control" type="password" id="id_new_password2" name="new_password2" value="">
            </div>
            <div class="row">
                <div class="col-lg-l2">
                    <input type="submit" class="btn btn-default" value="Change my password" />
                </div>
            </div>
        </form>

        {% else %}

        <h1>'Password reset unsuccessful'</h1>

        <p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>

        {% endif %}
    </div>
</div>
{% endblock %}